.App {
  text-align: center;
}

.container {
  margin: 0;
}

.customNav {
  background-color: #000 !important;
  border-color: #000 !important;
  margin-bottom: 0 !important;
  padding-bottom: 10px !important;
}

.sign-in-button {
  display: inline-block;
  color: #FFF;
  /*padding: 8px 16px;*/
  text-decoration: none;
  border-radius: 4px;
  float: right;
  color: #fff;
  border-width: 0;
  margin: 0 22px 0 0;
}

.sign-up-button {
  display: inline-block;
  color: #FFF;
  /*background: #03A9F4;*/
  /*padding: 8px 16px;*/
  text-decoration: none;
  border-radius: 4px;
  float: right;
  background-color: #7a52ab;
  color: #fff;
  border-width: 0;
  margin: 0 22px 0 0;
}

.nav {
  background: #000 !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background: none !important;
}

.centerAlign{text-align: center;vertical-align: middle;}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff !important;
}


@media (min-width: 1200px)
.container.productmain {
  width: 970px !important;
}
