.App {
  text-align: center;
}

.centerAlign{text-align: center;vertical-align: middle;}

.single-post {
  margin: 20px 0;
  padding: 15px;
  border-radius: 2px;
}

.carouselimg {
  transform: translateX(0%);
  z-index: 120;
  height: 775px;
}

#app {
  height: 100vh;
}
.nav {
  padding: 10px 10px 0;
  background: #333;
}
.is-visible {
  border: solid 1px red;
}
section {
  margin: 20px;
}
h2, p {
  margin: 0;
}
